<div class="why_you_live_it">
  <div class="container">
    <!-- Accordion -->
    <div class="acc-container">
      <div class="acc">
        <div class="acc-head">
          <h4>Why You’ll Love It</h4> 
        </div>
        <div class="acc-content">
          <p>Solvve contains an elite blend of Myo and D-Chiro inositol in the ratio of 40:1 is designed specifically to improve women's reproductive health with added Shatavari & Turmeric root extract. Based on science and made with only the purest ingredients, our products are made to tackle your monthlies and other symptoms that follow including irregular periods, acne, hair loss, and excess weight.</p>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-6">
              <div class="d-flex flex-column aln-txt">
                <div class="icon-sec">
                  <img
                    class="icon-image"
                    src="{{ 'vegan_friendly.png' | file_url }}"
                    alt="image">
                </div>
                <div class="icon-text mt-3">
                  <h5>VEGAN
                    FRIENDLY</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
              <div class="d-flex flex-column  aln-txt">
                <div class="icon-sec">
                  <img
                    class="icon-image"
                    src="{{ 'gluten_free.png' | file_url }}"
                    alt="image">
                </div>
                <div class="icon-text mt-3">
                  <h5>GLUTEN FREE</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
              <div class="d-flex d-flex flex-column  aln-txt">
                <div class="icon-text">
                  <img
                    class="icon-image"
                    src="{{ 'non_gmo.png' | file_url }}"
                    alt="image">
                </div>
                <div class="icon-text mt-3">
                  <h5>NON
                    GMO</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
              <div class="d-flex d-flex flex-column  aln-txt">
                <div class="icon-sec">
                  <img
                    class="icon-image"
                    src="{{ 'made_in_india.png' | file_url }}"
                    alt="image">
                </div>
                <div class="mt-3 icon-text">
                  <h5>MADE IN
                    INDIA</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="acc">
        <div class="acc-head">
          <h4>How To Use</h4>
        </div>
        <div class="acc-content">
          <div class="how-list">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="how-box text-center">
                   <img src="{{ 'step-2.png' | file_url }}" alt="step 2">                
                  <h6>STEP 1</h6>
                  <p>Take 200 ml of water in a glass.</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="how-box text-center">
                  <img src="{{ 'step-1.png' | file_url }}" alt="step 1">
                  <h6>STEP 2</h6>
                  <p>To it, add 1 sachet of Solvve.</p>
                </div>
              </div>
<!--               <div class="col-sm-6 col-md-3">
                <div class="how-box text-center pdb-none">
                  <img src="{{ 'step-3.png' | file_url }}" alt="step 3">
                  <h6>STEP 3</h6>
                  <p>Hurray! The ultimate magic potion to treat PCOS/PCOD and its symptoms is now ready.</p>
                </div>
              </div> -->
              <div class="col-sm-6 col-md-3">
                <div class="how-box text-center bd-none">
                  <img src="{{ 'step-4.png' | file_url }}" alt="step 4">
                  <h6>STEP 3</h6>
                  <p>Stir well and drink.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="acc">
        <div class="acc-head">
          <h4>Ingredients</h4>
        </div>
        <div class="acc-content">
          <div class="ing-box-1">
            <h5>Myo-inositol</h5>
            <p>Myo-inositol is a chemical compound found in most life forms. An alteration of insulin signalling has been recognized as the main cause of the
              pathophysiology of polycystic ovary syndrome (PCOS).Introduction of inositol in PCOS management has proven effective and safe in countering its effects.</p>
          </div>
          <div class="ing-box-1">
            <h5>D-Chiro-Inositol</h5>
            <p>D-Chiro-Inositol is found in high concentrations in the tissues that store glycogen and that need to save energy: fat and liver! Overall, however,
              D-Chiro Inositol is less abundant in nature than Myo-Inositol which makes up about 99% of the intracellular pool of inositols. It is generated from
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Myo-Inositol itself: a part of the latter is converted into D-Chiro by the epimerase enzyme</p>
          </div>
          <div class="ing-box-1">
            <h5>L-Methyl-Folate-Calcium</h5>
            <p> Folate is a B-vitamin found naturally in some foods.It is needed to form healty cells, especially red blood cells. It is used to prevent and treat low folate levels. Women who are expecting a child should receive adequate amounts of folic acid through diet or supplements for the healthy birth of the little one.
                </p>
          </div>
          <div class="ing-box-1">
            <h5>VITAMIN D-3</h5>
            <p>Vitamin D (ergocalciferol-D2, cholecalciferol-D3) is a fat-soluble vitamin that helps your body absorb calcium and phosphorus.
              Having the right amount of vitamin D, calcium, and phosphorus is important for building and keeping strong bones. Vitamin D3 is also used to treat low levels of calcium and phosphate in the body by replenishing it.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          </div>

        </div>
      </div>

      <div class="acc">
        <div class="acc-head">
          <h4>Recommendation</h4>
        </div>
        <div class="acc-content">
            <p>Take one sachet of Solvve regularly in the morning after breakfast for 84 days without any break for faster results.</p>
        </div>
      </div>
    </div>
  </div>
  {%- section 'default_procedure' -%}
  {%- section 'default_ingradiants' -%}

  <style>
    .icon-image {
      height: 84.25px;
    }
    .icon-text {
      color: #533092;
      text-align: center;
    }
  </style>

  <script>
    $(document).ready(function() {
      $('.acc-container .acc:nth-child(1) .acc-head').addClass('active');
      $('.acc-container .acc:nth-child(1) .acc-content').slideDown();
      $('.acc-head').on('click', function() {
        if ($(this).hasClass('active')) {
          $(this).siblings('.acc-content').slideUp();
          $(this).removeClass('active');
        } else {
          $('.acc-content').slideUp();
          $('.acc-head').removeClass('active');
          $(this).siblings('.acc-content').slideToggle();
          $(this).toggleClass('active');
        }
      });
    });
  </script>
</div>