<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>
    <link
      rel="shortcut icon"
      href="{{ 'favicon.ico' | file_url }}"
      type="image/png">
    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {% if template.name == 'collection' %}
      <meta name="robots" content="noindex">
    {% endif %}
    <script src="{{'jquery.min.js' | asset_url}}" defer></script>


    <script src="{{'application.js' | asset_url}}" defer></script>
    <script src="{{'bootstrap.bundle.min.js' | asset_url}}" defer></script>



    {%- render 'meta-tags' -%}<!--<meta name="google-site-verification" content="SvXI6tC7YyXY82qZaQonZKPkCV_24yWJXZ2YhF6Ocv8" />-->
    <!-- Google tag (gtag.js) --><script
      async
      rel="dns-prefetch"
      type="text/lazyload"
      src="https://www.googletagmanager.com/gtag/js?id=G-9SNQPG90VV"> </script>
    <script rel="dns-prefetch" type="text/lazyload">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
                                                                                        gtag('js', new Date());
                                                                                      
                                                                                        gtag('config', 'G-9SNQPG90VV');
    </script>

    <!------------------->
    <!-- TruConversion for getsolvve.com -->
    <script type="text/lazyload">
      var _tip = _tip || [];
      (function(d,s,id){
                                                                                          var js, tjs = d.getElementsByTagName(s)[0];
                                                                                          if(d.getElementById(id)) { return; }
                                                                                          js = d.createElement(s); js.id = id;
                                                                                          js.async = true;
                                                                                          js.src = d.location.protocol + '//app.truconversion.com/ti-js/22931/ad7b7.js';
                                                                                          tjs.parentNode.insertBefore(js, tjs);
                                                                                      }(document, 'script', 'ti-js'));
    </script>



    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'slick.min.css' | asset_url | stylesheet_tag: preload: true }}
    <script src="{{'slick.min.js' |asset_url}}" defer></script>



    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    {% render 'structured-data' %}
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-N992ZC9');
    </script>
    <!-- End Google Tag Manager -->



    <script src="{{ 'flickity.min.js' | asset_url }}" defer></script>
    {{ 'flickity.min.css' | asset_url | stylesheet_tag: preload: true }}
  </head>
  <body>

    {%-liquid  
  section 'announcement-bar'
  section 'header'-%}
    <main role="main">{{ content_for_layout }}</main>
    {%- section 'footer' -%}
    {% render 'qr-tracking' %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N992ZC9"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% if template == 'product' %}
      {% render 'sticky-addtocart' %}
    {% endif %}
  </body>
</html>