<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>
    <link
      rel="shortcut icon"
      href="{{ 'favicon.ico' | file_url }}"
      type="image/png">
    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {% if template.name == 'collection' %}
      <meta name="robots" content="noindex">
    {% endif %}

    {%- render 'meta-tags' -%}



    {{ content_for_header }}
    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer></script>
    <script src="{{ 'flickity.min.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer></script>

    <!--<meta name="google-site-verification" content="SvXI6tC7YyXY82qZaQonZKPkCV_24yWJXZ2YhF6Ocv8" />-->
    <!-- Google tag (gtag.js) -->
    <script src="https://www.googletagmanager.com/gtag/js?id=G-9SNQPG90VV" defer></script>
    <script src="{{ 'scripts.js' | asset_url }}" defer></script>

    {{ 'application.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'slick.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'flickity.min.css' | asset_url | stylesheet_tag: preload: true }}

    {{ 'glide.css' | asset_url | stylesheet_tag: preload: true }}
    <script src="{{- 'glide.js' | asset_url -}}" defer></script>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    {% render 'structured-data' %}

  </head>
  <body>

    {%-liquid  
  section 'announcement-bar'
  section 'header'-%}
    <main role="main">{{ content_for_layout }}</main>
    {%- section 'footer' -%}
    <script src="{{ 'qr-tracking.js' | asset_url }}" async></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N992ZC9"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% if template == 'product' %}
      {% render 'sticky-addtocart' %}
    {% endif %}
  </body>
</html>