{% if section.settings.mobile-image != blank and section.settings.image != blank %}
  <div class="ib-section__wrapper container pt-5">
    <div class="col-12 pb-5 pt-2">
      <div class="ib-main-heading pb-5 fs-2">{{ section.settings.heading }}</div>
      <div class="d-md-none mobile-banner">
        <img
          loading="lazy"
          src="{{section.settings.mobile-image |img_url: 'master'}}"
          alt={{ section.settings.heading }}>
      </div>
      <div class="d-none d-md-block desktop-banner">
        <img
          loading="lazy"
          src="{{section.settings.image |img_url: 'master'}}"
          alt={{ section.settings.heading }}>
      </div>
    </div>
  </div>
{% endif %}

<style>
  .ib-section__wrapper {
    background-color: {{ section.settings.bg_color}}
    ;
  }
  .ib-main-heading {
    font-family: Inter-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 131.02%;
    text-align: center;
    text-transform: capitalize;
    color: {{ section.settings.text_color}}
    ;
  }
</style>
{% schema %}
  {
    "name": "Image Banner",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "label": "Background Color",
        "id": "bg_color",
        "default": "#fff"
      },
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "No More Irregular / Delayed Periods"
      },
      {
        "type": "color",
        "label": "text-color",
        "id": "text_color",
        "default": "#533092"
      },
      {
        "type": "image_picker",
        "label": "Desktop Image",
        "id": "image"
      }, {
        "type": "image_picker",
        "label": "Mobile Image",
        "id": "mobile-image"
      }
    ]
  }
{% endschema %}