<div class="container">
<!-- Accordion -->
<div class="acc-container">        
<div class="acc">
<div class="acc-head">
<h4>Why You’ll Love It</h4>
</div>
<div class="acc-content">
<p>Our elite blend of Myo and D-Chiro inositol in the ratio of 40:1 is designed specifically to improve women's reproductive health with added Shatavari & Turmeric root extract. Based on science and made with only the purest ingredients, our products are made to tackle your monthlies and other symptoms that follow including irregular periods, acne, hair loss, and weight gain.</p>
<div class="row">
  <div class="col-md-3 col-sm-6 col-6">
    <div class="d-flex aln-txt">
      <div class="icon-sec">
        <img loading="lazy"  src="{{ 'vegan_friendly.png' | file_url }}" alt="image">
      </div>
      <div class="cnt-sec">
        <h5>VEGAN<br>
          FRIENDLY</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6">
    <div class="d-flex aln-txt">
      <div class="icon-sec">
        <img loading="lazy" src="{{ 'gluten_free.png' | file_url }}" alt="image">
      </div>
      <div class="cnt-sec">
        <h5>GLUTEN<br>
        FREE</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6">
    <div class="d-flex aln-txt">
      <div class="icon-sec">
        <img loading="lazy" src="{{ 'non_gmo.png' | file_url }}" alt="image">
      </div>
      <div class="cnt-sec">
        <h5>NON<br>
        GMO</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6">
    <div class="d-flex aln-txt">
      <div class="icon-sec">
        <img loading="lazy" src="{{ 'made_in_india.png' | file_url }}" alt="image">
      </div>
      <div class="cnt-sec">
        <h5>MADE IN<br>
          INDIA</h5>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>

<div class="acc">
<div class="acc-head">
<h4>How To Use</h4>
</div>
<div class="acc-content">
  <div class="how-list">
    <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="how-box text-center">
       <img loading="lazy" src="{{ 'step-1.png' | file_url }}" alt="step 1">
        <h6>STEP 1</h6>
      <p>Add one sachet of Solvve Supplement to an empty glass.</p>
      </div>
    </div>
   <div class="col-sm-6 col-md-3">
     <div class="how-box text-center">
       <img loading="lazy" src="{{ 'step-2.png' | file_url }}" alt="step 2">
       <h6>STEP 2</h6>
     <p>To it, add 100 ml of water and shake well.</p>
     </div>
   </div>
   <div class="col-sm-6 col-md-3"> 
     <div class="how-box text-center pdb-none">
       <img loading="lazy" src="{{ 'step-3.png' | file_url }}" alt="step 3">
       <h6>STEP 3</h6>
     <p>Hurray! The ultimate magic potion to treat PCOS/PCOD and its symptoms is now ready.</p>
     </div>
   </div>
   <div class="col-sm-6 col-md-3">
     <div class="how-box text-center bd-none">
       <img loading="lazy" src="{{ 'step-4.png' | file_url }}" alt="step 4">
       <h6>STEP 4</h6>
     <p>Relish the entire glass of delicious orange-flavored supplement drink.</p> 
     </div>
   </div>
    </div>
  </div>
</div>
</div>

<div class="acc">
<div class="acc-head">
<h4>Ingredients</h4>
</div>
<div class="acc-content">
<div class="ing-box-1">
  <h5>Myo-inositol</h5>
<p>Myo-inositol is a chemical compound found in most life forms. An alteration of insulin signalling has been recognized as the main cause of the
pathophysiology of polycystic ovary syndrome (PCOS). PCOS is the most common cause of infertility and affects more than 10% of women of
reproductive age. Introduction of inositol in PCOS management has proven effective and safe in countering its effects.</p>
</div>
  <div class="ing-box-1">
  <h5>D-Chiro-Inositol</h5>
<p>D-Chiro-Inositol is found in high concentrations in the tissues that store glycogen and that need to save energy: fat and liver! Overall, however,
D-Chiro Inositol is less abundant in nature than Myo-Inositol which makes up about 99% of the intracellular pool of inositols. It is generated from
Myo-Inositol itself: a part of the latter is converted into D-Chiro by the epimerase enzyme</p>
  </div>
  <div class="ing-box-1">
  <h5>L-Methyl-Folate-Calcium</h5>
<p>Folate is a B-vitamin naturally found in some foods. It is needed to form healthy cells, especially red blood cells. They are used to treat or prevent
low folate levels. Low folate levels can lead to certain types of anaemia. Women of childbearing age should receive adequate amounts of folic acid
either through their diet or supplements to prevent infant spinal cord birth defects.</p>
  </div>
  <div class="ing-box-1">
  <h5>VITAMIN D-3</h5>
<p>Vitamin D (ergocalciferol-D2, cholecalciferol-D3) is a fat-soluble vitamin that helps your body absorb calcium and phosphorus.
Having the right amount of vitamin D, calcium, and phosphorus is important for building and keeping strong bones. Vitamin D3 is also used with medications
to treat low levels of calcium or phosphate caused by certain disorders (such as hypoparathyroidism, pseudohypoparathyroidism, familial hypophosphatemia).</p>
</div>
  
</div>
</div>

<div class="acc">
<div class="acc-head">
<h4>Dosage & Duration</h4>
</div>
<div class="acc-content">
<ul>
<li>You can take one sachet a day preferably after breakfast or in the evening.</li>
<li>You should take the Solvve supplement continuously for 84 days to reap the benefits to the fullest.</li>
</ul>
</div>
</div>
</div>
</div>
{% schema %}
{
  "name": "Why You’ll love it",
  "class": "why_you_live_it",
  "settings": [

  ]
}
{% endschema %}


<script>
  $(document).ready(function() {
$('.acc-container .acc:nth-child(1) .acc-head').addClass('active');
$('.acc-container .acc:nth-child(1) .acc-content').slideDown();
$('.acc-head').on('click', function() {
    if($(this).hasClass('active')) {
      $(this).siblings('.acc-content').slideUp();
      $(this).removeClass('active');
    }
    else {
      $('.acc-content').slideUp();
      $('.acc-head').removeClass('active');
      $(this).siblings('.acc-content').slideToggle();
      $(this).toggleClass('active');
    }
});     
});
</script>